aplcore
/Dist/
CONTINUE.dws
conga.crash
/tatin-dependencies/*
/TestResults/
!/tatin-dependencies/apl-dependencies.txt
!/tatin-dependencies/apl-buildlist.json
/tatin-dependencies_dev/*
!/tatin-dependencies_dev/apl-dependencies.txt
!/tatin-dependencies_dev/apl-buildlist.json